<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center my-2">
            <h4>
                <a href="/signup" class="text">Registrate</a>
                o
                <a href="/signin" class="text">Ingresa</a>
                para agendar tu cita
            </h4>
        </div>
    </div>
    <div class="portfolio-menu mt-2 mb-4">
        <ul>
            <li class="btn btn-outline-white  active" data-filter="*">Todas</li>
            <li class="btn btn-outline-white " data-filter=".pol">Polygel</li>
            <li class="btn btn-outline-white " data-filter=".acri">Acrílico</li>
            <li class="btn btn-outline-white " data-filter=".press">Press On</li>
            <li class="btn btn-outline-white " data-filter=".semi">Semipermanente</li>
            <li class="btn btn-outline-white " data-filter=".trad">Tradicional</li>
        </ul>
    </div>
    {{!-- Polygel --}}
    <div class="portfolio-item row">
        <div class="item pol col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/polygel/polygel1.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/polygel/polygel1.jpeg" alt="">
            </a>
        </div>
        <div class="item pol col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/polygel/polygel2.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/polygel/polygel2.jpeg" alt="">
            </a>
        </div>
        <div class="item pol col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/polygel/polygel3.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/polygel/polygel3.jpeg" alt="">
            </a>
        </div>
        {{!-- Acrilicas --}}
        <div class="item acri col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/acrilicas/acrilicas1.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/acrilicas/acrilicas1.jpeg" alt="">
            </a>
        </div>
        <div class="item acri col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/acrilicas/acrilicas2.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/acrilicas/acrilicas2.jpeg" alt="">
            </a>
        </div>
        <div class="item acri col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/acrilicas/acrilicas3.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/acrilicas/acrilicas3.jpeg" alt="">
            </a>
        </div>
        {{!-- Press on --}}
        <div class="item press col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/pressOn/press1.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/pressOn/press1.jpeg" alt="">
            </a>
        </div>
        <div class="item press col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/pressOn/press2.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/pressOn/press2.jpeg" alt="">
            </a>
        </div>
        <div class="item press col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/pressOn/press3.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/pressOn/press3.jpeg" alt="">
            </a>
        </div>
        {{!-- Semi permanente --}}
        <div class="item semi col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/semiPermanente/semi1.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/semiPermanente/semi1.jpeg" alt="">
            </a>
        </div>
        <div class="item semi col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/semiPermanente/semi2.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/semiPermanente/semi2.jpeg" alt="">
            </a>
        </div>
        <div class="item semi col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/semiPermanente/semi3.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/semiPermanente/semi3.jpeg" alt="">
            </a>
        </div>
        {{!-- Tradicional --}}
        <div class="item trad col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/tradicional/tradi1.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/tradicional/tradi1.jpeg" alt="">
            </a>
        </div>
        <div class="item trad col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/tradicional/tradi2.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/tradicional/tradi2.jpeg" alt="">
            </a>
        </div>
        <div class="item trad col-lg-3 col-md-4 col-6 col-sm">
            <a href="/img/tradicional/tradi3.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/img/tradicional/tradi3.jpeg" alt="">
            </a>
        </div>
    </div>
</div>