<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-spa"></i>
      Nails By Johanna
    </a>
    <a class="nav-link" href="https://www.instagram.com/nails_by_johannadelatorre/" target="_blank">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a class="nav-link" href="https://api.whatsapp.com/send?phone=573234681569" target="_blank">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {{#if user}}
        <a class="nav-link" href="/catalogue" role="button">
          Catalogo
        </a>
        {{#when user.id_rol 'eq' 1}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{! foo }}
            <a class="dropdown-item" href="/appointment">Lista de citas</a>
          </div>
        </li>
        {{/when}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Citas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{! foo }}
            <a class="dropdown-item" href="/profile">Mis citas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/appointment/add">Agendar cita</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/records">Historial</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{user.fullname}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>